body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Box1 {
  display: flex;
  justify-content: center;
}

.Box2 {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  border: 2px solid;
  padding: 25px;
}

.viewQList {
  display: flex;
  flex-direction: row;
}

.Box1.poll {
  border-radius: 25px;
  border: 2px solid;
  margin: 10px 0;
  padding-bottom: 20px;
}

.pollBrief {
  display: flex;
  flex-direction: column;
}

.leaderBoard {
  display: flex;
  justify-content: center;
}

.score {
  display: flex;
  flex-direction: column;
}

.scoreDetail {
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  border: 2px solid;
  padding: 25px;
  margin: 10px;
}

.userScoreColumn {
  display: flex;
  flex-direction: column;
  margin: 0 40px;
}
